<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <link href="/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div class="container-fluid">
      <header class="row-fluid">
        <h1>Super fancy log analyzer</h1>
        <nav>
          <ul class="nav nav-tabs">
            <li><a href="/site">By Site</a></li>
            <li><a href="/file">By file</a></li>

          </ul>
        </nav>
      </header>
      <div class="row-fluid">
        <div class="span3 well">
          <ul class="nav nav-list">
            <%= erb :sidebar %>
          </ul>                  
        </div>
        <div class="span9">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
